/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: white;
  --borders: #d3d3d3;
  --light-blue: #dae6ef;
  --light-green: #d1dbc8;
  --mid-green: #46543b;
  --green: #3d681c;
  --dark-green: #2a3323;
  --heart-green: #2f6a02;
}
